{% extends 'base.html' %}
{% block content %}
  <form  action="" method="post">
    {% csrf_token %}
  <h2>Registro de Equipo</h2>
  <label for ="">Nombre de equipo: </label>
  <input type="text" name="nombredeequipo" id=""><br><br>
  <label>Nombre del jefe:</label>
    <select id="nombreJefe">
      <option value="nom1">Chambi Cahuana Brian Arturo</option>
      <option value="nom2">Uzquiano Villacorta Omar </option>
      <option value="nom3">Gutierrez Herrera Mayra Fabiola</option>
      <option value="nom4">Herrera Bonilla Thaime Helen  </option>
      <option value="nom5">Colque Huchani Jhesica Laura </option>
    </select>
  <label for ="">Membresia: </label>
  <input type="number" name="membresia" id=""><br><br>
  <label for ="">Cantidad: </label>
  <input type="number" name="cantidad" id=""><br><br>
  <button type="submit">Enviar</button>
  <button type="reset">Cancelar</button>
  </form>
  {% if  datos%}
   <h1>Datos Recibidos: </h1>
    <p>Nombre de equipo: {{ datos.nombredeequipo }} </p>
    <p>Nombre del jefe: {{ datos.nombredejefe }} </p>  
  
    <p>total: {{ datos.total }} </p>
  {% else %}
    <h1>NO HAY DATOS !!!!</h1>
  {% endif %}
{% endblock %}